@import url('https://fonts.googleapis.com/css?family=Poiret+One');
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

nav ul {
  margin-top: 0;
}

nav ul li a {
  text-decoration: none;
}

.nav-text a {
  margin-left: -20px;
  font-family: 'Poiret One', cursive;
}

nav img {
  height: 40px;
  margin-left: -50px;
}

.div-children {
  border-radius: 20px;
}
